/* Keeping element sizing consistent */
html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
*,*:before,*:after{
    box-sizing: inherit;
}
body {
    width: 100%;
    font-size: 100%;
    font-family: sans-serif;
    background: #01b0f0;
    -webkit-font-smoothing: antialiased;
}
.main {
    width: 60em;
    margin: 0 auto;
    
}
.main hr {
    width:25%;
    border: solid 1px #ff358b;
}

/* Header Styles */
.main-header{
    padding: 5em 0 2em;
    color: #fff;
}
.main-header h1{
    font-size: 4em;
    font-family: 'Chewy', sans-serif;
    text-align: center;
    text-shadow: 1px 3px 1px #ff358b;
    margin-bottom: 0;
}
.main-header p {
    font-family: 'Raleway', sans-serif;
    font-size: 1.25em;
    text-align: center;
    margin-top: 2em;
}

/* Find Section Styles */

.find{
    padding: 3em 0;
}
.input-search{
  margin: auto;    
  position: relative;
  height: 50px;
  width: 40em;
  border: 2px solid #Aeee00;
  background: transparent;
  display: block;    
}
.input-submit{
  display: block;
  margin: 1.5em auto;
  width: 22em;
  font-size: 1.25em;
  border: none;
  height: 50px;
  background: #aeee00;
  color: #333; 
  transition: background 1s ease-in-out;    
}
.input-submit:hover{
    cursor: pointer;
    background: #333;
    color: #fff;
    transition: background 1s ease-in-out;
}


/* Results Section Styles */
ul#results-list {
    list-style-type: none;
    padding-top: 1em;
}
    
#results-list li figure {
    margin: 0 auto;
    width: 350px;
}
li i {
    color: #fff;
}
li i.fa-angle-double-left{
  float: left;
  font-size: 4em;
  position: relative;
  top: 2.5em;
  
}
li i.fa-angle-double-right{
  float: right;
  font-size: 4em;
  top: -4em;
  position: relative;
}

.caption h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 2em;
    text-shadow: 1px 1px 1px #ff358b;
}